body {

  background-color: #f4f9fc;

}

.container {

  display: flex;

  justify-content: center;

}

h1 {

  letter-spacing: 2px;

  font-size: 30px;

  text-transform: uppercase;
  
  color: #0c2f47;

}

h2 {

  font-size: 22px;

  letter-spacing: 2px;

  text-transform: uppercase;

  color: #962030;

  margin-top: 30px;

}

.btn {

  display: inline-block;

  cursor: pointer;

  border: 1px solid transparent;

  letter-spacing: 2px;

  text-transform: uppercase;

  font-weight: 700;

  text-align: center;

  color: #fff;

  background-color: #0071c2;

  align-self: center;

  padding: 10px;

  border-radius: 3px;

  margin-bottom: 50px;

}

button {

  background: white;

  border: none;

  font-size: 18px;

  color: #0071c2;

  background-color: #f4f9fc;

  cursor: pointer;

}

p, a {

  margin: 50px;

  color: #092131;

  font-size: 20px;

}